<!doctype html>
<html lang="fr">

<head>
	<title>Netflix</title>
</head>


<body>
	<div align="middle">
		<img src="{{url_for('static', filename='img/netflix.jpg')}}">
	</div>
	
    <h1 align="middle" style="color:red;">Recherche par directeur</h1>
	
	<div align="middle">
	
       <form action="{{url_for('dashboard_dir')}}" method="post"> 
			   <select name= nom_dir method="GET" action="/">
                   {% for i in list_dir.index: %}
                   <option value="{{ list_dir.iloc[i]['director'] }}" SELECTED>{{ list_dir.iloc[i]['director'] }}</option>
                   {% endfor %}
               </select>   
			   <input type="submit" value="Envoyer" />
       </form>
	   
	</div>
	
	

	
	<footer> 
		{{ date }}
	</footer> 

</body>
</html>


