   
        
    <div id="loginbox" class="col-md-2"> 
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('ajouter_magasin') }}">Ajouter magasin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Afficher magasins</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Modifier magasin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#"  >Supprimer magasin </a>
            </li>
        </ul>
    </div>
       