{% extends 'layouts/default.html' %}
{% block body%}
{% include 'layouts/shared/_menu-admin.html'%}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">    
        
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        
        <div class="row">                
            <!--<div class="iconmelon">
              <svg viewBox="0 0 32 32">
                
              </svg>
            </div>-->
        </div>
        
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Ajouter un statut à un chauffeur</div>
            </div>     

            <div class="panel-body" >
               
                    <!--<form ACTION="{{ url_for('ajouter_statut_chauf') }}" name="ajout_statut" id="form" class="form-horizontal default" enctype="multipart/form-data" method="POST" >   class="form-inline default" -->
                    <form ACTION="{{ url_for('ajouter_statut_chauf') }}" id="form" name="ajout_statut" classe="default"   enctype="multipart/form-data" method="POST" >   
                           
                                <div class="input-group">
                                
                                     {# <div class="form-row"> #}
                                    <div class="col-md-6 mb-3">
                                        <select name="liste_chauf" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
                                            <option value="" disabled selected> <B> Choisissez un chauffeur</B></option>
                                            
                                            {% for i in liste_chauf %}
                                                <option value="{{ i[0] }}" >  {{ i[3] }} </option>
                                            {% endfor %}
                                                
                                        </select>
                                    </div>
                                </div>
                            
                                <!--<div class="input-group">-->
                                <div class="input-group">
                                    <div class="col-md-6 mb-3">   
                                        <select name="liste_statut" class="custom-select" required>
                                            <option value="" disabled selected>  Choisissez un statut</option>
                                            {% for i in liste_statut %}
                                                <option value="{{ i[0] }}" >  {{ i[1] }} </option>
                                            {% endfor %}
                                                
                                        </select>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="input-group">
                                    
                                        <label for ="date">Date debut:</label>  
                                        <input type="date" id="date"  name='date_D' class="form-control"required><br>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="input-group">
                                        <B><label for ="date">Date fin:</label>  
                                        <input type="date" id="date"  name='date_F'class="form-control"  required><br>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 mb-4" >
                                    <button type="submit" href="#" class="btn btn-primary"> Ajouter</button> 
                                    <button type="reset" class="btn btn-primary" > Annuler</button>                         
                                </div>
                            </div>    
                        
                    </form>     
                   
                
            </div>                     
        </div>  
    </div>
</div>


{% endblock%} 