{% extends 'layouts/default.html' %}
{% block body%}
<h3> VEUILLEZ VOUS IDENTIFIER</h3>
    
        <form method="POST" ACTION="{{ url_for('identification') }}">

            <label for =" pseudo">Entrez votre pseudo     </label>     
            <input type=" text" id="pseudo"  name='pseudo'><br><br><br>

            <label for =" mdp">Entrez votre mot de passe</label>
            <input type="password" id="mdp"  name='mdp'><br><br>
            
            <input type='submit' value='Se connecter' class="btn btn-danger" >
            

        </form>
{% endblock%}        