{% extends 'layouts/default.html' %}
{% block body%}
{% include 'layouts/shared/_menu-admin.html'%}
<!------<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 Include the above in your HEAD tag ---------->
  
        
<div class="container">
    <div class="row">
        <div id="loginbox" class="mainbox col-md-12 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
          
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center"><h4>Modification/Suppression Chauffeur</h4></div>
                </div>     
                
                <div class="panel-body" >
                    <div class="border border_secondary rounded-sm"> 
                        <form id="form" method="POST" class="container form-horizontal " enctype="multipart/form-data" ACTION="{{ url_for('modifier_chauf') }}">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-info" type="submit" id="button-addon1">Rechercher</button>
                            </div>
                            <input type="text" class="form-control" name="rech_chauf" placeholder="Nom du chauffeur" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">

                                                                             <!-- Button trigger modal -->
                              <button  type="button"   class="btn btn-info" data-toggle="modal" data-target="#modifier_chauf" data-whatever="@getbootstrap" >Modifier Chauffeur</button>
                              <button type="button" onclick="envoie_formulaire()" class="btn btn-outline-secondary" data-toggle="modal" data-target="#supprimer_chauf" value="Submit form"> Supprimer </button>
                            </div>
                          </div>
                          
                          <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" style="width:08%;">Nom</th>
                                    <th scope="col" style="width:10%;">Prénom</th>
                                    <th scope="col" style="width:10%;">Cout horaire</th>
                                    <th scope="col" style="width:13%;">Panier matin</th>
                                    <th scope="col" style="width:13%;">Panier midi</th>
                                    <th scope="col" style="width:13%;">Panier soir</th>
                                    <th scope="col" style="width:12%;">Statut</th>
                                    <th scope="col" style="width:18%;">date début</th>
                                    <th scope="col" style="width:18%;">date fin</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for chauf in liste_chauf %}  
                                    <tr>
                                      <th scope="row">
                                        <div class="form-check">
                                          <input class="form-check-input position-static" type="radio" checked="checked" name="chauf_select" id="blankRadio1" value="{{chauf[9]}}" aria-label="...">
                                        </div>  
                                      </th>
                                      <td>{{chauf[0]}}</td>
                                      <td>{{chauf[1]}}</td>
                                      <td>{{chauf[2]}}</td>
                                      <td>{{chauf[3]}}</td>
                                      <td>{{chauf[4]}}</td>
                                      <td>{{chauf[5]}}</td>
                                      <td>{{chauf[6]}}</td>
                                      <td>{{chauf[7]}}</td>
                                      <td>{{chauf[8]}}</td>
                                      
                                    </tr>
                                  {% endfor %}
                                 <!-- <tr>
                                    <th scope="row">
                                      <div class="form-check">
                                        <input class="form-check-input position-static" type="radio" checked="checked" name="chauf_select" id="blankRadio1" value="option1" aria-label="...">
                                      </div>  
                                    </th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>  -->
                                </tbody>
                              </table>
                                <!-- Modal Supprimer-->
                                <div class="modal fade" id="supprimer_chauf" tabindex="-1" aria-labelledby="supprimer_chaufLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="supprimer_chaufLabel">Confirmation...</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <p> Veuillez confirmer la suppression du chauffeur coché</p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary"  href="{{ url_for('chauffeur_supprime') }}">Supprimer</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                              <!-- fenetre modale modification chauffeur-->
                                <div class="modal fade" id="modifier_chauf" tabindex="-1" aria-labelledby="modifier_chauf" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="modifier_chauf">Modifier Chauffeur</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <form  method="POST" id= "form2" ACTION="{{ url_for('chauffeur_modifie') }}">
                                          <div class="form-group">
                                            <label for="nom" class="col-form-label">Nom:</label>
                                            <input type="text" class="form-control" id="nom" name="nom" value="{{chauf_info[0]}}">
                                            <label for="prenom" class="col-form-label">Prenom:</label>
                                            <input type="text" class="form-control" id="prenom" name="prenom">
                                            <label for="horaire" class="col-form-label">Coût Horaire:</label>
                                            <input type="text" class="form-control" id="horaire" name="horaire">
                                            <label for="horaire" class="col-form-label">Panier Matin:</label>
                                            <input type="number" class="form-control" id="panier1" name="panier1">
                                            <label for="horaire" class="col-form-label">Panier Midi:</label>
                                            <input type="number" class="form-control" id="panier2" name= "panier2">
                                            <label for="panier3" class="col-form-label">Panier Soir:</label>
                                            <input type="number" class="form-control" id="panier3" name= "panier3">
                                            <label for="statut" class="col-form-label">Statut:</label>
                                            <input type="text" class="form-control" id="statut" name= "statut">
                                            <label for="date_debut" class="col-form-label">Date Debut:</label>
                                            <input type="date" class="form-control" id="date_debut" name= "date_debut">
                                            <label for="date_fin" class="col-form-label">Date Fin:</label>
                                            <input type="date" class="form-control" id="date_fin" name= "date_fin">
                                          </div> 
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            <input type="submit"  class="btn btn-primary" value='Confirmer modification' >
                                          </div>

                                          
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>


                                
                                  

                                  
                    </div>
                </div>    
                    
            </div>    
        </div>    
    </div>
</div>
<!-- <script>
  function envoie_formulaire(){
    document.getElementById("form").submit();
  }
</script>         -->

{% endblock%} 