
{% extends 'layouts/default.html' %}
{% block body%}
{% include 'layouts/shared/_menu-admin.html'%}

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-Camions-list" data-toggle="list" href="#list-Camions" role="tab" aria-controls="Camions">Camions</a>
                    {% for i in range(nbre_ens): %}
                        <a class="list-group-item list-group-item-action " id="list-{{ L_enseigne[i][0] }}-list" data-toggle="list" href="#list-{{ L_enseigne[i][0] }}" role="tab" aria-controls="{{ L_enseigne[i][1] }}">{{ L_enseigne[i][1] }}</a>
                    {% endfor %}
            </div>

        </div>        
        <div class="col-10">
            <form method="POST" ACTION="{{ url_for('valider_tournee') }}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="date"  id="date"  name='date' class="form-control" required>
                            <div class="input-group-append">
                                <label for="upload_excel" class="input-group-text upload_excel_label">Uploader un Fichier</label>
                                <input type="file" id="upload_excel" name="fichier_excel">
                            </div>
                            <!--<label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Extraire magasins/volumes du fichier excel</label>-->
                        </div>                            
                    </div>  
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active " id="list-Camions" role="tabpanel" >
                        
                            <div class="custom-control custom-checkbox">
                                <div class="form-row">
                                    {% for i in range(nbre_camion): %}
                                        <div class="form-group col-md-6">
                                            <input class="custom-control-input" type="checkbox" name="liste_camion" id="{{ camion[i][0] }}" value="{{ camion[i][0] }}">
                                            {# <input class="form-check-input" type="checkbox" name="liste_camion" id="{{ camion[i][0] }}" value="{{ camion[i][0] }}"> #}
                                            <label class="custom-control-label" for="{{ camion[i][0] }}"> {{ camion[i][0] }}  </label>
                                        </div>
                                    {% endfor %}
                                </div> 
                            </div>     
                    </div>

                    {% for i in range(nbre_ens): %}
                        <div class="tab-pane fade " id="list-{{ L_enseigne[i][0] }}" role="tabpanel">
                            {% for j in liste_mag[i] %} 
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox"  name="mag" id="{{ j }}" value="{{ j[1] }}">
                                        </div>
                                    </div>
                                    <span class="input-group-text" style="width:200px;">{{ j[0] }}</span>
                                    <div class="input-group-append">
                                        <input type="number" placeholder="Nombre de Rolls" value="" name="rolls" class="form-control">
                                    </div>
                                    <div class="input-group-append">
                                        <input type="number" placeholder="Nombre de Palettes" value="" name="palette" class="form-control">
                                    </div>
                                    <div class="input-group-append">
                                        <input type="number" placeholder="Nombre de Boxes" value="" name="box" class="form-control">
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-info btn-block">Effectuer les tournées--></button>
            </form>
        </div>
    </div>  

</div>
    
        <!--<div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                </div>
            </div>
            <div class="col-10">
                <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home"    role="tabpanel" aria-labelledby="list-home-list">Contenu 1</div>
                <div class="tab-pane fade"             id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">C2</div>
                <div class="tab-pane fade" id="list-messages"            role="tabpanel" aria-labelledby="list-messages-list">C3</div>
                <div class="tab-pane fade" id="list-settings"            role="tabpanel" aria-labelledby="list-settings-list">C4</div>
                </div>
            </div>
         </div>-->
{% endblock %}         