{% extends 'layouts/default.html' %}
{% block body%}
    {% include 'layouts/shared/_menu-admin.html'%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {# <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}"> #}

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="container border border_secondary rounded-lg">  
                     
                    <table>
                        <tr>
                            <td>Codes magasins </td>
                            <td>Rolls </td>
                            <td>Palette</td>
                            <td>Boxe</td>
                        </tr>
                        
                        {% for i in range(nbre_mag): %}
                            <tr class="d-flex">
                                
                                <td class="col-sm-1">    {{  mag_code[i][0]  }} </td>
                                <td style="width:18%;">    <input type="number"  value= "{{  mag_code[i][1]  }}" name="{{  mag_code[i][1]  }}" size="3"></td>
                                <td style="width:18%;">    <input type="number"  value= "{{  mag_code[i][2]  }}" name="{{  mag_code[i][2]  }}" size="3"> </td>
                                <td style="width:18%;">    <input type="number"  value= "{{  mag_code[i][3]  }}" name="{{  mag_code[i][3]  }}" size="3"> </td>
                                
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-8">    
                <div class="container border border_secondary rounded-lg"> 
                    {% for cam in liste_camion: %}
                    
                        <table class="table table-hover">
                            <thead>
                                <tr class="d-flex">
                                    <th scope="col" class="w-25">{{cam[0]}} :</th> 
                                    <th scope="col" style="width:18%;"> capacite :</th>
                                    <th scope="col" style="width:21%;">  </th>
                                    <th scope="col" style="width:16%;">{{cam[1]}} :</th>
                                </tr>
                            </thead>
                        
                            
                            <tbody>
                                <tr class="d-flex">
                                    <td>
                                        <select name="liste_camions">
                                            {% for j in range(nbre_chauffeur): %}
                                                <option> {{chauffeur[j][0]}} </option>
                                            {% endfor %}
                                        </select>
                                    </td>    
                                    <td class="col-sm-1">    Rolls </td>
                                    <td class="col-sm-1">    Palette </td>
                                    <td class="col-sm-1">    Boxe </td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-sm-1">    <input type="number"  ></td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number" > </td>   
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-sm-1">    <input type="number"  ></td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>   
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-sm-1">    <input type="number"  ></td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>   
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-sm-1">    <input type="number"  ></td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>   
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-sm-1">    Total</td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>
                                    <td class="col-sm-1">    <input type="number"  > </td>   
                                </tr>
                            </tbody>
                        </table><br>
                    {% endfor %}
                </div>    
            </div>
        </div>    
    </div>

{% endblock %}